<div class="img-container background-img">
  <!-- <div>
                <img src="./css/img/Travelers Guide-logos_transparent.png" id="travel-logo" alt="Logo">
            </div> -->
  <div class="img-text">
    <h1>Welcome to Travelers Guide!</h1>
    <p>Find information about countries below!</p>
  </div>
</div>
<div class="colored-forum">
  <div class="form-text">
    <h3 style="color: black">Sign up for our newsletter!</h3>
  </div>
  <div class="form-imput-text">
    <form action=""></form>
    <input type="text" id="fname" name="fname" placeholder="First Name" class="input-box" />
    <input type="text" id="email" name="email" placeholder="Email" class="input-box" />
    <input type="submit" value="Submit" class="btn-adjust-size btn btn-dark btn-med control-btn" />
  </div>
</div>
<main>
  <section>
    <div class="instruction-container">
      <div class="text-div">
        <h1 class="ins-header">Fast and Easy!</h1>
      </div>
      <div class="text-div">
        <p class="ins-p" id="text">
          Doesn't get much simplier. Search a country and see it's info!
        </p>
      </div>
    </div>
  </section>

  <div class="control">
    <input class="input" type="text" id="Search-box" placeholder="Enter Country" />
  </div>

  <div class="control center-btn">
    <a href="#"><button class="btn btn-dark btn-lg control-btn" id="Submit-btn">
        Submit
      </button></a>
  </div>
  <br />

  <div class="country-div">
    <div class="dis-colmun" id="country-flag">
      <h3>Country Flag:</h3>
      <div class="country-flag" id="country-flag-div"></div>
    </div>

    <div>
      <div class="div-map">
        <h3>Google maps:</h3>
        <div id="maps-display"></div>
      </div>
    </div>

    <div class="country-info">
      <h3>Country Information:</h3>
      <div id="display-country-info"></div>
    </div>
  </div>
</main>