<section class="center-page">
      <div class="background-world">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h3 class="card-title">Log In:</h3>
            <label for="uname"><b>Email</b></label>
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Enter Username"
              id="email-login"
              name="uname"
              required
            />

            <label for="psw"><b>Password</b></label>
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Enter Password"
              id="password-login"
              name="psw"
              required
            />
            <button type="submit" class="btn btn-lg btn-dark margintop">Login</button>
            <div class="div-padding-buttons"></div>
            <button type="sign-up" id="signup-btn-redirect" class="btn btn-lg btn-dark">Sign Up Instead</button>
          </div>
        </div>
      </div>
    </section>

<script src="./js/login.js"></script>