<section class="center-page">
      <div>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h3 class="card-title">Log In:</h3>
            <label for="uname"><b>Username</b></label>
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Enter Username"
              name="uname"
              required
            />

            <label for="psw"><b>Password</b></label>
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Enter Password"
              name="psw"
              required
            />
            <button type="submit">Login</button>
            <div class="div-padding-buttons"></div>
            <a href="/signup"><button type="sign-up">Sign Up Instead</button></a>
          </div>
        </div>
      </div>
    </section>

<script src="./js/login.js"></script>