<section class="center-page">
    <div class="background-world">
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <form class="signup-form">
                    <h3 class="card-title">SignUp:</h3>
                    <label for="email"><b>Email</b></label>
                    <input class="form-control form-control-lg" type="text" id="email-signup"
                        placeholder="Enter Username" name="uname" required />

                    <label for="uname"><b>Username</b></label>
                    <input class="form-control form-control-lg" id="username-signup" type="text"
                        placeholder="Enter Username" name="uname" required />

                    <label for="psw"><b>Password</b></label>
                    <input class="form-control form-control-lg" id="password-signup" type="password"
                        placeholder="Enter Password" name="psw" required />
                    <button type="user-signup" class="btn btn-lg btn-dark margintop">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="./js/signup.js"></script>