<section class="center-page">
    <div>
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h3 class="card-title">Log In:</h3>
                <label for="email"><b>Email</b></label>
                <input class="form-control form-control-lg" type="text" id="username-signup" placeholder="Enter Username" name="uname"
                    required />

                <label for="uname"><b>Username</b></label>
                <input class="form-control form-control-lg" id="email-signup" type="text" placeholder="Enter Username" name="uname"
                    required />

                <label for="psw"><b>Password</b></label>
                <input class="form-control form-control-lg" id="password-signup" type="password" placeholder="Enter Password" name="psw"
                    required />
                <button type="user-signup" class="btn btn-lg btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</section>
<script src="./js/login.js"></script>