<section class="center-page-profile">
    <!-- UserName with pic? -->
    <div class="holds-user-info">
        <div class="user-info-img">
            <div class="profile-pic-frame">
                <img src="../img/blank-profile-picture-973460__340.webp" alt="profile pic" />
            </div>
        </div>

        <div class="username-text">
            <div>
                <h3>UserName12</h3>
            </div>
            <div>
                <p>Reviews: 34</p>
            </div>
        </div>

        <!-- Following -->
        <div class="following-class-text">
            <h3>Following:</h3>
            <h6>user5</h6>
            <h6>user6</h6>
            <h6>user8</h6>
        </div>


        <!-- <div>
          <button class="btn btn-lg btn-primary follow-btn">Follow</button> -->
        <!-- <button class="btn btn-lg btn-primary">Unfollow</button> -->
        <!-- </div> -->
    </div>
    <hr />

    <!-- Favorites -->
    <div class="favorite-countries">
        <h3>Favorites</h3>

    </div>

    <!-- Reviews -->
    <div class="user-review-countries">
        <h3>Reviews</h3>


    </div>